node_modules
.next
.git
.turbo
*.log
.env
.env.*
.DS_Store
coverage
dist

# SSH/private keys
*.key
*.pem

data/*
models/*

*.log

__pycache__
*.py[cod]
*.so
.Python
.pytest_cache
.ruff_cache
.mypy_cache